.galleries { list-style-type: none; margin: 0; padding: 0; }
.galleries div { background-color: white; margin: 3px 3px 3px 0; padding: 3px; float: left; height: auto; text-align: center; }
.galleries div img { margin-bottom: 5px; }

.galleries .title { cursor: move; }
.galleries .gallery_data { padding: 5px; }

.galleries .make-cover {
	position: absolute;
	left: 0;
	text-align: center;
	bottom: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	width: 178px;
}